
//////****CSSS
@import '../../scss/variables.scss';

.Login {
  //background-color: blue;
  display: flex;
  justify-content: center;
}

.Login-Container {
  background-color: blue;
  width: 360px;
  height: 812px;
  margin-top: 50px;
border-radius: 30px;
display: flex;
justify-content: center;
}

.Login-Content {

  display: flex;
  justify-content: center;
}

.Login-Title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.input-mail {
  width: 314px;
  height: 46px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 20px;
}

.input-password {
  width: 314px;
  height: 46px;
  border-radius: 10px;
  margin-left: 20px;
}

.Login-Form {
  border-radius: 30px;
  background-color: $cards-color;
}
.Login-footer {
  margin-top: 70px;
  text-align: center;
}
///////TEXTS
/// 
.labelloginmail{
  margin-left: 20px;
  font-weight: 500;
  color:white;
  font-family: Oswald, sans-serif;
margin-top: 30px;
}

.Login-footer{
  
  font-weight: 500;
  color:white;
  font-family: Oswald, sans-serif;
margin-top: 10px;
margin-bottom: 80px;
}

.linktocreateaccount{
  color: aqua;
}