/////CONTAINERS
.ReservationAccepted{
  display: flex;
  justify-content: center;
  
}
.ReservationAccepted-container {
  width: 360px;
  height: 100vh;
}

.acceptationmessage{
  width: 100%;
}
