.ReservationAccepted {
    display: flex;
    justify-content: center;
}
.ReservationAccepted-container {
    width: 360px;
    height: 100vh;
}

.acceptationmessage {
    width: 100%;
    height: 189px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: turquoise;
}
