//INPUTS///
.createUser {
    width: 314px;
    height: 46px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
}
//CONTAINERS
.CreateAccountUserFormulario {
    display: flex;
    justify-content: center;
}

.CreateAccountUserForm {
    margin-top: 35px;
    width: 350px;
}
