/////SASS
@import '../../scss/variables.scss';

//CONTAINERS

.CreateAccountUserFormulario {
    display: flex;
    justify-content: center;
    background-color: $happy-color;
}

.CreateAccountUserForm {
    margin-top: 35px;
    width: 350px;
    border-radius: 30px;
    background-color: $cards-color;
}

//BOTONES
.BotonGeneral {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: $generalbutton-color;
    font-weight: 600;
    color:black;
    font-family: Oswald, sans-serif;
}

//INPUTS///
.createUser {
    width: 314px;
    height: 46px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

//TEXTOS

.labelCreateUse {
    margin-left: 20px;
    font-weight: 500;
    color:white;
    font-family: Oswald, sans-serif;
}
.Login-Title{
    color:white
}