/////SASS
@import '../../scss/variables.scss';


//CONTAINERS
.EditProfileUserFormulario {
    display: flex;
    justify-content: center;
    
}
.elegirArchivo{
    margin-left: 20px;
   
}
.EditProfileUserForm {
    margin-top: 35px;
    width: 350px; 
    border: 2px double $generalbutton-color;
}

//BOTONES
.BotonGeneral {
    margin-left: 20px;
    margin-bottom: 20px;
}

//INPUTS///

.editUser {
    width: 314px;
    height: 46px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    outline: none;
    background-color: $inputs-color;
}
.editUser:focus{
    background-color: white;
}
//TEXTOS

.labelCreateUse {
    margin-left: 20px;
}

input {
    &:focus-visible {
        outline: none;
    }
}
