//CONTAINERS
.EditProfileUserFormulario{
    display: flex;
    justify-content: center;
}

.EditProfileUserForm{
    margin-top: 35px;
    width: 350px;
}

//BOTONES
.BotonGeneral {
    margin-left: 20px;
    margin-bottom: 20px;
}

//INPUTS///
.editUser {
    width: 314px;
    height: 46px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

//TEXTOS

.labelCreateUse {
    margin-left: 20px;
}
