.ButtonOrange {
    width: 99px;
    height: 33px;
    background-color: #FD4948;
    border-radius: 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

    &:hover {
        background-color: #01172f;
        color: #FD4948;
        border: 1px solid #FD4948;
    }
}