
//BOTONES
.acceptEventbtn{
  width: 243px;
  height: 32px;
  border-radius: 20px;
  margin-left: 50px;
  background-color: green;
  }
  
  .rejectEventbtn{
    width: 243px;
    height: 32px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: red;
  }