///CONTAINERS

///TEXT

.Contrats-Title0 {
  margin-top:50px;
  font-size: 38px;
}

.Contrats-Title {
    font-size: 38px;
}

.Contrats-Title2 {
  font-size: 48px;
  font-weight: 500;
}
