//////////CARDS

.cardEventoReservado {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: aqua;
}

.reservedtext {
    margin: 0px;
}
