///CONTAINERS
.datos {
    display: flex;
}
.MisDatos-container {
}
.UserProfile {
    padding: 5px;
    display: flex;
    justify-content: center;
}
.UserProfile-Container {
    width: 360px;
}
.UserProfile-Content {
}
.MisDatos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Rerservations {
    margin-top: 20px;
    margin-bottom: 0px;

    border-radius: 10px;
}
//CARDS

.reservationcard {
    width: 340px;
    height: 75px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: aqua;
}

//TEXTS
.textEditProfile {
}

.name {
    margin: 0;
}

.reservationsTitle {
    margin-left: 10px;
}
