//////****CSSS
@import '../../scss/variables.scss';

//CONTAINERS
.datos {
    width: 600px;
    height: 500px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    
}


.MisDatos-container {
    background-color: $happy-color;
  
}
.UserProfile {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: $happy-color;
}

.UserProfile-Content {
    width: 600px;
    border-radius: 30px;
    background-color: $cards-color;
    border: 2px solid $cards-color;
    &:hover{border: 2px solid $generalbutton-color;} 
}
@media (max-width: 600px) {
    .UserProfile-Content{
        width: 360px;
    }

    .datos{width: 100%;
    padding: 10px;}
   
    .MisDatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $happy-color;
    border-radius: 30px;
    color: white;
    padding: 10px;
    }
  }

.MisDatos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $happy-color;
    border-radius: 30px;
    color: white;
}

.Rerservations {
    margin-top: 20px;
    margin-bottom: 0px;

    background-color: $happy-color;

    border-radius: 10px;
}

.userimage{
    width: 250px;
    height: 100px;
    max-width: 150px;
    
}


.imgn{
    margin-top: 30px;
    width: 250px;
    height: 100px;}




//TEXTS
.links{
    text-decoration: none;
    &:hover{
        text-decoration:underline;
    }
}
.misdatos {
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 10px 0;

}
.textEditProfile {
    background-color: $happy-color;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 18px;
}
.editarperfil {
    margin-top: 50px;
    font-size: 20px;
    color: $generalbutton-color;
    text-decoration: none;
}

.name {
    margin: 30px 0 0 0;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

.reservationsTitle {
    margin-left: 10px;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

.userCity{
    font-size: 20px;
}