.MusicianProfile-container {
  background-color: antiquewhite;
}
.MusicianProfile-content {
}

.camposMusico {
  width: 350px;
  background-color: blue;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

//TEXTOS
.dataTitles{
font-weight: 500;
margin: 20px 0px 0px 0px;
}
.datatext{
  margin: 0;
}

