.text-orange-color {
    text-decoration-color: #fd4948;
}
#Navbar {
    padding: 15px 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(1, 23, 47, 0.5);
}

.Button-Close-session {
    width: 160px;
    height: 36px;
    background-color: #01172f;
    border-radius: 30px;
    border: 1px solid #72b6ff;
    color: #72b6ff;
    font-weight: bold;
}

.Button-Close-session :hover {
    background-color: #07305C;
    color: #fd4948;
}