.ButtonTranspOrg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #FD4948;
    color: #FD4948;
    font-weight: bold;
    border-radius: 18px;
    margin-right: 9px;

    :hover {
        background-color: #FD4948;
        color: #01172f;
    }
}