
//////****CSSS
@import '../../scss/variables.scss';

.btn-reserve {
    background-color: #fd4948;
    border-radius: 18px;
    border: none;
    width: 10rem;
    height: 45px;
    :hover {
        font-weight: bold;
        background-color: white;
    }
}
