
//////****CSSS
@import '../../scss/variables.scss';

.btn-reserve {
    background-color: $happy-color;
    border-radius: 18px;
    border: 2px solid $generalbutton-color;
    color: $generalbutton-color;
    width: 10rem;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    font-family: Oswald, sans-serif;
    &:hover {
        color: black; 
        font-weight: bold;
        background-color: $generalbutton-color;
    }
}
