//CONTAINERS

//INPUTS///
.user{
    width: 314px;
    height: 46px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
}
//TEXTOS

//BOTON//
.BotonGeneral{
  width: 314px;
  height: 46px;
  border-radius: 20px;
}