@import '../../scss/variables.scss';

.MusicianPaidEvents-Content {
    width: 250px;
    height: 400px;
    background-color: #07305C;
    margin: 15px;
    border-radius: 30px;
    padding: 10px;

    .cardMusicianPaidEvents {
        width: auto;
        height: 250px;
        background-color: #01172f;
        border-radius: 20px;
        padding: 10px;
    }
}


// .Paid-Events-Container {
//     width: fit-content;
//     height: auto;
//     background-color: #07305C;
//     border-radius: 2rem;
//     padding: 0 15px;
//     margin: 1.5rem;

//     .Client-Name-Container {
//         display: flex;
//         align-items: center;
//         padding: 10px 0;

//         .Client-img {
//             width: 35px;
//             height: 35px;
//             background-color: grey;
//             margin-right: 15px;
//         }
//     }

//     .Event-Data-Container {
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         width: auto;
//         height: 350px;
//         border-radius: 9px;
//         background-color: #01172f;
//         padding: 16px;

//         .Data-Label-Container {
//             display: flex;
//             flex-direction: column;
//             font-size: 16px;
//         }

//         .Data-Desc-Container {
//             display: flex;
//             flex-direction: column;
//             font-size: 16px;
//         }
//     }

//     .Hour-Event-Container {
//         display: flex;
//         justify-content: space-around;
//         margin: 6px 0;
//         font-size: 17px;

//         .Text-Orange {
//             color: #fd4948;
//             font-weight: bold;
//         }
//     }
// }