@import '../../scss/variables.scss';

.MusicianPaidEvents-Content {
    width: 300px;
    min-height: 500px;
    height: auto;
    background-color: #07305C;
    margin: 15px;
    border-radius: 30px;
    padding: 10px;

    .cardMusicianPaidEvents {
        width: auto;
        height: 450px;
        background-color: #01172f;
        border-radius: 20px;
        padding: 10px;
    }

    .reservedtext {
        color: whitesmoke;
        .reservedtext-styled {
            color: rgb(154, 154, 154);
        }
    }

    .description-container {
        overflow-y: auto;
        height: 150px;
    }
}