////CONTAINERS
.Reservation {
  display: flex;
  justify-content: center;
}
.Reservation-Container {
  width: 360px;
 
  padding: 10px;
}
.reservationData {
  width: 100%;
}
////TEXTS
.inputReservation{
width: 314px;
height: 46px;
border-radius: 10px;
margin-bottom: 30px;
}
.dataTitles2{
margin-bottom: 0px;
margin-top: 20px;
font-weight: 500;
}
///INPUTS

////
